.userDetails {
  display: flex;
  /* justify-content: space-evenly; */
  width: 100%;
}

.section1 {
  width: 65vw;
  display: flex;
  flex-direction: column;
}

.section2 {
  width: 35vw;
  display: flex;
  flex-direction: column;
}